body 
{ 
	font-family:  verdana, arial, sans-serif;	
	max-width:    800px; 
	margin-left:  auto; 
	margin-right: auto; 
}

/* This is the title. */
h1 
{ 
	font-size: x-large; 
	margin-top: 20px; 
	padding: 5px; 
	text-align: center; 
	font-weight: normal; 
}

/* This is the menu under the title. */
h2, h3 
{ 
	font-size: small; 
	background-color: cornflowerblue; 
	text-align: center; 
	padding: 5px; 
	margin-bottom: 0px; 
	font-weight: normal; 
}
h2 a:link   , h3 a:link { color: white; }
h2 a:visited, h3 a:visited { color: white; }
h2 a:hover  , h3 a:hover { color: white; }
h2 a:active , h3 a:active { color: white; }
h3 
{
	font-size: x-small; 
	margin-top: 0px; 
}

/* This is the grouping of one-or-more entries. */
h3 
{ 
	font-size: normal; 
}

/* This is the heading of each entry on each page. */ 
h4 
{ 
	margin-top: 50px; 
	font-size: small; 
}
h4 span.tag 
{
	color: darkgray; 
	font-size: smaller; 
}

/* This is the text of each entry on each page. */ 
p { font-size: small; }
li { font-size: small; }
code { background-color: papayawhip; }